from typing import Dict, Optional, Any, Literal

from {{ import_base }}.utils.request_base import RequestBase

{% for method_schema_import in method_schema_imports %}
{{ method_schema_import }}
{% endfor %}


class {{ endpoint_class_name }}:

    def __init__(self, request_base: RequestBase):
        """This class contains all methods that are available under endpoint `{{ endpoint_path }}`."""

        self._request_base = request_base


{%- for method_function in method_functions %}
    {{ method_function }}
{%- endfor %}